{{#if message}}
    <div id="flash-message" class="alert alert-info alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x" role="alert">
        {{message}}
    </div>
{{else if error}}
    <div id="flash-message" class="alert alert-danger alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x" role="alert">
        {{error}}
    </div>
{{else if success}}
    <div id="flash-message" class="alert alert-success alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x" role="alert">
        {{success}}
    </div>
{{/if}}
<div class="box mt-2 mb-5">
    <form class="login-form mt-5 mb-5" method="POST" action="/">
        <h2 class="h11 text-center">Admin Login</h2>

        <div class="form-group">
            <label for="user_email">Email</label>
            <input type="text" class="form-control" id="user_email" name="email" placeholder="abc@gmail.com" />
        </div>

        <div class="form-group">
            <label for="user_password">Password</label>
            <input type="password" class="form-control" id="user_password" name="password" placeholder=" * * * * * * * * *" />
        </div>
        <div class="links">
            <a href="#">Forgot Password</a>
        </div>
        <input class="text-dark btn btn-primary mt-4" type="submit" value="Login">
        <p id="p1">Or SignUp Using</p>
        <a class="btn btn-primary text-dark" href="/adSignup">Signup</a>

        <div class="links">
            <a href="#" target="_blank"><i class="fab fa-facebook-f fb"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter tw"></i></a>
            <a href="#" target="_blank"><i class="fab fa-google go"></i></a>
        </div>
    </form>
</div>
