<!-- views/Admin/Booking/showBooking.hbs -->

{{> adminNavbar}}

{{#if message}}
    <div id="flash-message" class="alert alert-info alert-dismissible fade show position-fixed top-50 start-50 translate-middle-x" role="alert">
        {{message}}
    </div>
{{else if error}}
    <div id="flash-message" class="alert alert-danger alert-dismissible fade show position-fixed top-50 start-50 translate-middle-x" role="alert">
        {{error}}
    </div>
{{else if success}}
    <div id="flash-message" class="alert alert-success alert-dismissible fade show position-fixed top-50 start-50 translate-middle-x" role="alert">
        {{success}}
    </div>
{{/if}}

{{#if bookings.length}}
<div class="container mt-5">
    <h2 class="mb-5 text-center">Our Bookings</h2>
    <div class="row mt-5 mb-5">
        {{#each bookings}}
        <div class="col-lg-4 mb-4">
            <div class="card text-center">
                <div class="member-card pt-3 pb-3">
                    <div class="mt-3">
                        <h4>{{this.full_name}}</h4>
                        <h6>{{this.location}}</h6>
                        <p class="text-muted"><strong>Work</strong> {{this.type_of_work}}</p>
                    </div>
                    <a href="/booking_work_full_data{{this._id}}" type="button" class="btn btn-primary text-dark mt-3">View
                        full Data</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<div class="main-container">
    <img src="./images/not_found/not_found.jpg" class="img-fluid" alt="Image" width="70%" />
</div>
{{/if}}
