{{>adminNavbar}}
{{#if show_Work_details.length}}
<!-- Render content when there are work details -->
{{#each show_Work_details}}
<div class="box mb-4">
    <div class="register mt-5">
        <form class="login-form" method="post" id="addWork" enctype="multipart/form-data" action="/add_working_details">
            <h2 class="text-center">Update Details</h2>
            <!-- Name input -->
            <div class="form-outline mt-4 mb-4">
                <input type="hidden" class="form-control" name="docID" value="{{ this._id }}" readonly />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label mb-2" for="newTask">Update New Task In Numbers</label>
                <input type="number" id="newTask" class="form-control" name="update_new_task" value="{{ this.new_task}}"
                    required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label mb-2" for="completedTask">Update Completed Task In Numbers</label>
                <input type="number" id="completedTask" class="form-control" name="update_task_completed"
                    value="{{ this.task_completed }}" required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label mb-2" for="teamMembers">Update Total Team Members In Numbers</label>
                <input type="number" id="teamMembers" class="form-control" name="update_team_members"
                    value="{{ this.team_members }}" required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label mb-2" for="totalCustomers">Update Total Customers in numbers</label>
                <input type="number" id="totalCustomers" class="form-control" name="update_customers"
                    value="{{ this.customers }}" required />
            </div>

            <!-- Submit button -->
            <input type="button" class="btn btn-primary btn-block mb-4 text-dark" value="Update" onclick="addWorkDetails()">
        </form>
    </div>
</div>
{{/each}}
{{else}}
<div class="box mb-4">
    <div class="register mt-5">
        <form class="login-form" method="post" id="addWork" enctype="multipart/form-data" action="/add_working_details" >
            <h2 class="text-center">New Details</h2>
            <!-- Name input -->
            <div class="form-outline mb-4">
                <label class="form-label mb-2" for="newTask">Add New Task In Numbers</label>
                <input type="number" id="newTask" class="form-control" name="new_task" required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label mb-2" for="completedTask">Add New Completed Task In Numbers</label>
                <input type="number" id="completedTask" class="form-control" name="task_completed" required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label mb-2" for="teamMembers">Add Total Team Members In Numbers</label>
                <input type="number" id="teamMembers" class="form-control" name="team_members" required />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label mb-2" for="totalCustomers">Add Total Customers in numbers</label>
                <input type="number" id="totalCustomers" class="form-control" name="customers" required />
            </div>

            <!-- Submit button -->
            <input type="button" class="btn btn-primary btn-block mb-4 text-dark" value="Submit" onclick="addWorkDetails()">
        </form>
    </div>
</div>
{{/if}}